<legend>Deposit a new run</legend>
<%= simple_form_for @run, :html => { :class => 'form-inline' } do |f| %>
  <%= f.error_notification %>
  <%= f.error :base %>
    <%= f.input :date, :label => '', :required => false, 
              :input_html => { :class => 'input-small' }, :as => :string %>
    <%= f.input :time_text, :required => true, 
              :input_html => { :class => 'input-small' } %>
    <%= f.input :distance, :required => true,
              :input_html => { :class => 'input-small' } %>
    <%= f.input :pace_text, :required => true,
              :input_html => { :class => 'input-small' } %>
  <div class="form-actions">
    <%= f.button :submit, "Deposit" %>
  </div>
<% end %>