<% rhinoGrid = '<div id="gridBox">
            <p id="feelText">FEEL</p>
            <div id="redsquare">
                <span id="leftyellowsquare"></span>
                <span id="leftgreensquare"></span>
                <span id="bottomyellowsquare"></span>
                <span id="bottomwhitesquare"></span>
                <span id="bottomgreensquare"></span>
                <p id="effortText">EFFORT</p>
            </div>
        </div>' %>

<%= form_for(@run, :html => { :class => "form_inline" }, :validate => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="well center">

    <%= f.text_field(:date, class: 'input-mini vert-adjust', 
    					placeholder: 'Date' ) %>

    <%= f.text_field :distance, class: 'input-mini vert-adjust', 
    					placeholder: 'Distance' %>

    <%= f.text_field :time_text, class: 'input-mini vert-adjust', 
    					placeholder: 'Time' %>

    <%= f.text_field :pace_text, class: 'input-mini vert-adjust', 
    					placeholder: 'Pace' %>

    <p class="btn commentfield" rel="popover"><i class="icon-edit"></i> </p>

    <%= f.hidden_field :comment, id: 'hidcommfield', value: '' %>

    <p class="btn rhinoGrid" rel="popover"><i class="icon-th"></i> </p>

    <%= f.hidden_field :rhinoGrid, id: 'hidGrid' %>

    <%= f.submit "Log It!", class: "btn", id: 'run-create-btn' %>
  </div>
<% end %>
