<% rhinoGrid = '<div id="gridBox">
            <p id="feelText">FEEL</p>
            <div id="redsquare">
                <span id="leftyellowsquare"></span>
                <span id="leftgreensquare"></span>
                <span id="bottomyellowsquare"></span>
                <span id="bottomwhitesquare"></span>
                <span id="bottomgreensquare"></span>
                <p id="effortText">EFFORT</p>
            </div>
        </div>' %>

<%= form_for(@run, :html => { :class => "form_inline" }, :validate => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="well center">

    <%= f.text_field(:date_text, class: 'input-mini vert-adjust', 
    					placeholder: 'Date' ) %>

    <%= f.text_field :distance, class: 'input-mini vert-adjust', 
    					placeholder: 'Distance' %>

    <%= f.text_field :time_text, class: 'input-mini vert-adjust hint_tooltip', 
    					placeholder: 'Time', rel:"tooltip", 
                        title:"e.g. '1h 5m'" %>

    <%= f.text_field :pace_text, class: 'input-mini vert-adjust hint_tooltip', 
    					placeholder: 'Pace', rel:"tooltip", 
                        title:"e.g. '7m 30s'" %>

    <p class="btn notesfield" rel="popover"><i class="icon-edit"></i> </p>

    <%= f.hidden_field :notes, id: 'hidnotefield', value: '' %>

    <p class="btn rhinoGrid" rel="popover"><i class="icon-th"></i> </p>

    <%= f.hidden_field :rhinoGrid, id: 'hidGrid' %>

    <%= f.submit "Log It!", class: "btn", id: 'run-create-btn' %>

    <br><small>Fill in two of distance, time, and pace. Third will be calculated automatically.</small>
  </div>
<% end %>
