<% if run_feed.date %>
  <tr class='<%= color(run_feed.feel) %>'>
    <td>
      <%= run_feed.date.strftime("%a") %>
      <%= run_feed.date.strftime("%-m/%d") %>
    </td>
    <td>
      <%= run_feed.distance %>
    </td>
    <td>
      <%= run_feed.time_text %>
    </td>
    <td>
      <%= run_feed.pace_text %>
    </td>
    <td>
      <% if run_feed.comment %>
        <p class="comment-disp" rel="popover" 
          title='<%= run_feed.comment.html_safe %>'>
          <%= shorten(run_feed.comment) %>
        </p>
      <% end %>
    </td>
    <td>
      <%= link_to "delete", run_feed, method: :delete,
                                       data: { confirm: "You sure?" } %>
    </td>
  </tr>
<% end %>