<tr>
  <td>
    <%= run_feed.date %>
  </td>
  <td>
    <%= best_in_place run_feed, :distance, :inner_class => 'rundata' %>
  </td>
  <td>
    <%= best_in_place run_feed, :time_text, :inner_class => 'rundata' %>
  </td>
  <td>
    <%= best_in_place run_feed, :pace_text, :inner_class => 'rundata' %>
  </td>
  <td>
    <%= link_to "delete", run_feed, method: :delete,
                                     data: { confirm: "You sure?" } %>
  </td>
</tr>