<% if run_feed.date %>
  <tr>
    <td class="<%= color(run_feed.feel) %>"></td>
    <td>
      <%= run_feed.date.strftime("%a") %>
      <%= run_feed.date.strftime("%-m/%d") %>
    </td>
    <td>
      <%= sprintf("%g", run_feed.distance) %>
    </td>
    <td>
      <%= run_feed.time_text %>
    </td>
    <td>
      <%= run_feed.pace_text %>
    </td>
    <td>
      <% if run_feed.comment %>
        <% if run_feed.comment.length > 80 %>
          <p class="comment-disp" rel="popover" 
            title='<%= run_feed.comment.html_safe %>'>
            <%= shorten(run_feed.comment) %>
          </p>
        <% else %>
          <p class="comment-disp"> <%= run_feed.comment %> </p>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= link_to '', run_feed, method: :delete, 
        class: 'icon-remove deleteicon pull-right', rel: 'tooltip', 
          title: 'delete'%>
    </td>
    <td class="<%= color(run_feed.effort) %>"></td>
  </tr>
<% end %>