<%= render partial: 'shared/oneline_run_form' %>
<div id="runs">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_week %>
    <%= disp_date_range(@date.beginning_of_week, @date.end_of_week) %>
    <%= link_to ">", date: @date.next_week %>
  </h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th class="no-side-pad vert-text" style="width: 5px"></th>
			<th style="width: 15%">Date</th>
			<th style="width: 15%">Distance</th>
			<th style="width: 15%">Time</th>
			<th style="width: 15%">Pace</th>
			<th style="width: 33%">Notes</th>
			<th style="width: 7%"></th>
			<th class="no-side-pad" style="width: 5px"></th>
		</tr>
	</thead>
	<%= render partial: 'shared/week' %>
</table>

<% if !@runs.empty? %>
	<div class="row">
		<div class="span2 offset4">
			<h3 class="align-right">Totals:</h3>
			<% time = @runs.map {|h| h[:time_in_secs] }.reduce(:+) %>
			<% dist = @runs.map {|h| h[:distance] }.reduce(:+) %>
		</div>
		<div class="span2">
			<h3 class="no-bot-marg align-right">
			<%= ChronicDuration.output((time/dist).round, :format => :short) %>
			</h3>
			<small class="pull-right">
				Average Pace
			</small>
		</div>
		<div class="span2">
			<h3 class="no-bot-marg align-right">
				<% time -= time % 60 %>
				<%= ChronicDuration.output(time, :format => :short, units: 2) %>
			</h3>
			<small class="pull-right">
				Total Time
			</small>
		</div>
		<div class="span2">
			<h3 class="no-bot-marg align-right">
				<%= dist %> mi
			</h3>
			<small class="pull-right">
				Mileage
			</small>
		</div>
	</div>
<% end %>