<%= render partial: 'shared/oneline_run_form' %>
<div id="runs">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_week %>
    <%= disp_date_range(@date.beginning_of_week, @date.end_of_week) %>
    <%= link_to ">", date: @date.next_week %>
  </h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th style="width: 15%">Date</th>
			<th style="width: 15%">Distance</th>
			<th style="width: 15%">Time</th>
			<th style="width: 15%">Pace</th>
			<th style="width: 43%">Comment</th>
			<th style="width: 7%"></th>
		</tr>
	</thead>
	<%= render partial: 'shared/week' %>
</table>

<% if !@runs.empty? %>
	<div class="row">
		<div class="span2">
			<h3>Totals:</h3>
		</div>
		<div class="span2">
			<h3>
				<% dist = @runs.map {|h| h[:distance] }.reduce(:+) %>
				<%= dist %> mi
			</h3>
		</div>
		<div class="span2">
			<h3>
				<% time = @runs.map {|h| h[:time_in_secs] }.reduce(:+) %>
				<%= ChronicDuration.output(time, :format => :short) %>
			</h3>
		</div>
		<div class="span2">
			<h3>
			<%= ChronicDuration.output((time/dist).round, :format => :short) %>
			</h3>
		</div>
	</div>
<% end %>