<% date = params[:date] ? Date.parse(params[:date]).beginning_of_week 
		: Date.today.beginning_of_week %>

<tbody>
	<% (1..7).each do |i| %>
		<% todays_runs = @runs.select { |r| r.date == date } %>
		<%= render :partial => "shared/run_feed", :collection => todays_runs %>
		<% if todays_runs.empty? %>
			<tr class="newrun <%= 'today' if date == Time.zone.now.to_date %>" data-date="<%=date%>" data-id="">
				<td></td>
				<td>
					<%= date.strftime("%a") %>
				</td>
				<td colspan="5"></td>
			</tr>
		<% end %>
		<% date = date.next %>
	<% end %>
</tbody>

<%= render partial: "shared/run_modal" %>